
.card {
    background: #008080; 
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    min-height: 400px; 
    margin: 20px; 
}

.card:hover {
    transform: scale(1.03);
}


.productImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

/* Product Card Content */
.cardContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.productTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: white;
}

.productPrice {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: white;
}




.productRating {
    font-size: 1rem;
    color: #008080;
    margin-bottom: 10px;
}


.viewButton {
    background: #008080 ;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.viewButton:hover {
    background: #2e2e2e;
    color: white;
}



@media (max-width: 768px) {
    .card {
        height: auto;
    }
}
