.footer {
    background-color: #808080; /* Ensure dark background */
    color: #fff; /* Make text white */
    text-align: center;
    padding: 20px 0;
  }
  
  .footer a {
    color: white; /* Light gray for better contrast */
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #fff; /* White on hover for better visibility */
  }
  